.kanban-board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.kanban-column {
  flex: 1;
  margin: 0 10px;
  background: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.kanban-column h3 {
  text-align: left;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

@media (max-width: 768px) {
  .kanban-board {
    flex-direction: column;
    padding: 8px;
  }

  .kanban-column {
    margin: 8px 0;
    min-width: 100%;
  }

  .ticket-card {
    padding: 12px;
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .kanban-board {
    padding: 4px;
  }

  .kanban-column {
    margin: 8px 0;
  }

  .ticket-card {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
  }

  .kanban-column,
  .ticket-card {
    padding: 8px;
  }
}

.ticket-card {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.ticket-card h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}
.ticket-card h3 {
  margin: 0;
  font-size: 16px;
  color: #777;
}

.ticket-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}

@media (max-width: 480px) {
  h3 {
    font-size: 16px;
  }

  .ticket-card p {
    font-size: 12px;
  }
}

.feature-request-div {
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 20px 0;
}

.feature-request-span {
  border-radius: 2px;
  padding: 1px;
  background-color: #faf9f9;
}

.grey-urgent-icon {
  border-radius: 2px;
  padding: 1px;
  background-color: #faf9f9;
  vertical-align: middle;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 50%;
}

.filters label {
  font-size: 16px;
  margin-right: 10px;
}

.filters select {
  padding: 5px;
  font-size: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f5f5f5;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: space-between;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  margin-top: 8px;
  padding: 10px;
}

.dropdown-group {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dropdown-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown-select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.column-title {
  display: flex;
  gap: 5px;
}
.column-title h4 {
  color: #777;
}
